window {
	background-image: image(url("file:///etc/greetd/login.jpg"));
	background-size: cover;
	background-position: center;
}

#body button label {
	font-family: SF Pro Display;
	font-size: 20px;
	color: #F9F9F9;
}

#body label {
	font-family: SF Pro Display;
	font-size: 20px;
	color: rgba(34, 34, 34, 0.8);
}

#clock {
	font-family: SF Pro Display;
	color: rgba(34, 34, 34, 0.8);
}

combobox arrow {
	color: rgba(249, 249, 249, 0.5);
}

combobox box.linked {
	margin: 7px 0;
}

combobox button {
	background-image: none;
	background-color: rgba(34, 34, 34, 0.5);
	border-color: #F9F9F9;
	border-width: 0 0 0 1px;
	border-radius: 0;
	box-shadow: none;
}

combobox window.popup * {
	background-color: rgba(34, 34, 34, 0.5);
	border-radius: 0;
}

combobox box.linked entry.combo, window.popup, entry {
	font-family: SF Pro Display;
	font-size: 20px;
	border-radius: 0;
	border-width: 0px;
	padding: 3px 10px;
	color: #F9F9F9;
	background-color: rgba(34, 34, 34, 0.5);
}

combobox box.linked entry.combo:focus, entry:focus {
	border-width: 1px;
	border-color: #F9F9F9;
	box-shadow: none;
}

combobox box.linked entry.combo, window.popup, entry {
	font-family: SF Pro Display;
	font-size: 20px;
	border-radius: 0;
	padding: 3px 10px;
	color: #F9F9F9;
	background-color: rgba(34, 34, 34, 0.5);
}
